/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.success-snackbar {
    background: #d4edda;
    color: #155724;
  }

  .danger-snackbar {
    background: #f8d7da;
    color: #721c24;
  }