<div class="p-20" *ngIf="articles$ | async; let articles">

    <h1>Articles</h1>
    <table mat-table [dataSource]="articles.docs" class="mat-elevation-z8">

        <ng-container matColumnDef="objectID">
            <th mat-header-cell *matHeaderCellDef> Object Id </th>
            <td mat-cell *matCellDef="let element"> {{element.objectID}} </td>
        </ng-container>

        <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef> Created at </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | dateCustom}} </td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="url">
            <th mat-header-cell *matHeaderCellDef> Url </th>
            <td mat-cell *matCellDef="let element"> {{element.url}} </td>
        </ng-container> -->

        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>

        <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Points </th>
            <td mat-cell *matCellDef="let element"> {{element.points}} </td>
        </ng-container>

        <ng-container matColumnDef="num_comments">
            <th mat-header-cell *matHeaderCellDef> Num Comments </th>
            <td mat-cell *matCellDef="let element"> {{element.num_comments}} </td>
        </ng-container>

        <ng-container matColumnDef="story_id">
            <th mat-header-cell *matHeaderCellDef> Story Id </th>
            <td mat-cell *matCellDef="let element"> {{element.story_id}} </td>
        </ng-container>

        <ng-container matColumnDef="story_title">
            <th mat-header-cell *matHeaderCellDef> Story Title </th>
            <td mat-cell *matCellDef="let element"> {{element.story_title}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="story_url">
            <th mat-header-cell *matHeaderCellDef> Story Url </th>
            <td mat-cell *matCellDef="let element"> {{element.story_url}} </td>
        </ng-container> -->

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button (click)="onDelete(element.objectID)" mat-icon-button>
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="articles.totalDocs" [pageSize]="filters.limit" [pageSizeOptions]="[5, 10, 25, 100]"
        [pageIndex]="filters.page" (page)="onChange($event)">
    </mat-paginator>
</div>